* {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0) !important;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px 0px 0px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightslategrey;
  border-radius: 0px;
}

input:invalid {
  border-color: rgb(211, 31, 31);
}

input, input:valid {
  border-color: rgb(27, 24, 24);
}

body {
  background-color: rgba(0, 0, 0, 0);
}

#Information h1 {
  color: #fff;
  font-size: 1.25em;
  padding-top: 2vh;
  padding-left: 3vw;
  text-shadow: 4px 4px 10px #000000;
}

#Information h3 {
  color: #fff;
  font-size: 1.15em;
  padding-left: 3vw;
  text-shadow: 2px 2px 4px #000000;
}

#Information p {
  color: #fff;
  font-size: 0.95em;
  padding-left: 3.5vw;
  text-shadow: 2px 2px 4px #000000;
}

#Play {
  bottom: 2vh !important;
  right: 2vw !important;
  width: 5.35vw;
  height: 13vh;
  position: absolute !important;
}

#Kill {
  bottom: 2vh !important;
  right: 18vw !important;
  width: 5.35vw;
  height: 13vh;
  position: absolute !important;
}

#Sidebar {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75) !important;
  z-index: 1;
  top: 0px !important;
  left: 0px !important;
  width: 25.55vw !important;
  height: 100vh !important;
  white-space: nowrap;
  overflow-y: hidden;
  bottom: 0px !important;
  position: absolute;
}

#Row {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75) !important;
  z-index: 2;
  top: 0px !important;
  left: 25.55vw !important;
  width: 9.80vw !important;
  height: 100vh !important;
  border-left: 4vw !important;
  border-left-color: black !important;
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  bottom: 0px !important;
  position: absolute;
}

.Selector {
  padding-top: 15px !important;
  padding-left: 0px !important;
}

.Character {
  padding-top: 15px !important;
  padding-left: 35px !important;
}

a {
  text-decoration: none !important;
}

a img {
  border: 0px !important;
  margin: 0 !important;
  max-width: 70px !important;
  max-height: 70px !important;
  border-color: rgba(0, 0, 0, 0) !important;
  border: 0px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
}

a img:hover {
  border: 0px !important;
  margin: 0 !important;
  max-width: 70px !important;
  max-height: 70px !important;
  border-color: rgba(0, 0, 0, 0) !important;
  border: 0px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 50% !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

/* Useful tooltip hover functions. */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 9px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 30;
  top: 100px;
  left: 20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Character Data Input Field */

.FeildSet {
  background-color: rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 12px;
  border-radius: 22px;
  font-size: 1em;
  position: absolute;
  border: hidden;
  width: 19vw;
  top: 25vh;
  left:40vw;
  right:40vw !important;
  z-index: 29;
}

.FeildSet p {
  text-shadow: 2px 2px 4px #000000;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.FeildSet input {
  text-align: center;
  position: relative;
  width: 40%;
  left:30%;
  right:30%;
  color:#fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.35) !important;
}

/* Notifications Handler */

#Notify-Window {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 43vw;
  height: 24vh;
}

.noty {
  color: #000;
  margin: 2px;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 0.2px;
  word-spacing: 1.2px;
  font-size: 1em;
  display: inline-block;
}

.normal {
  background-color: rgba(224, 210, 84, 0.795);
}

.success {
  background-color: rgba(84, 224, 142, 0.795);
}

.warn {
  background-color: rgba(221, 113, 41, 0.795);
}

.error {
  background-color: rgba(224, 84, 103, 0.795);
}
