* {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgba(0,0,0,0) !important;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Animus-darkest {background-color: #101954}
.Animus-darker {background-color: #15216e}
.Animus-dark {background-color: #1a2887}
.Animus {background-color: #1f30a1}
.Animus-light {background-color: #2337ba}
.Animus-lighter {background-color: #283fd4}
.Animus-lightest {background-color: #2d47ed}
